/*style for display form*/

.action-icons {
	font-size: 20px;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}

.table-container {
	width: 100%;
}

.table-container .table {
	width: 100%;
}

.custom-table-width {
	width: 100%;
	/* Adjust the width as per your requirements */
}

/*style for registration form*/

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.form-container {
	background: #fff;
	padding: 30px;
	max-width: 600px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 0px #000;
	border-radius: 10px;
}

.form-title {
	margin-bottom: 20px;
	text-align: center;
}

.formbold-form-input {
	position: relative;
}

.formbold-form-input input,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.formbold-form-input .toggle-password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.formbold-btn {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.formbold-btn:hover {
	background-color: #0056b3;
}

.toggle-password {
	margin-top: -2px;
	position: relative;
	z-index: 1;
}

.formbold-btn.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.formbold-btn.clickable {
	opacity: 1;
	pointer-events: auto;
}

.hestrick {
	color: red !important;
}

.error-message {
	position: absolute;
	color: red;
	font-size: 12px;
	display: inline-block;
	top: 80px;
	left: 0px;
}

.error {
	border: 1px solid red;
}

.formbold-form-input-two:focus {
	border-color: blue;
	outline: none;
}

.formbold-form-input-two.error:focus {
	border-color: red;
	box-shadow: none;
}

.radio-container {
	display: flex;
	align-items: center;
}

.radio-property {
	position: relative;
	left: -103px;
}

.male-property {
	position: relative;
	right: 190px;
	top: -17px;
}

.custom-modal-content {
	height: 60px;
	background-color: green;
	color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-modal-body {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
